.slogan {
    background-image: url(../img/red_bg.jpg);
    background-size: cover;
    
    &__box {
       margin: 30px 0;
        color: white;
        padding: 0 5px;
        background-color: rgba(255,255,255,.13);

        &-text {
            text-transform: uppercase;
            font-size: 25px;
            text-align: center;
            @media only screen and (max-width:700px) {
                font-size: 22px;
             }
        }
    }

    &__button {
        display: block;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: #fff;
        
    }
}